* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.divbar {
  background-color: white;
}
header {
  
  max-width: 980px;
  margin: 0 auto;
}
nav {
  margin-left: auto;
  margin-right: auto;
}

nav  ul{
  display: flex; 
  list-style-type: none;
}
nav ul li {
 margin: 15px;
  padding: 15px;  
  
}
nav ul li a {
  color: blue;
  text-decoration: none;
}
 nav ul li:active {
 background-color: blue;
 border-radius: 10px;
 }
 nav ul li a:active {
  color: white;
 }